@(name: String)
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>About @name</title>
    <style type="text/css">
        body {
            background-color: #e0e0e0;
            border: 2px solid black;
            padding: 10px 10px 10px 10px;
            font-family: sans-serif;
        }
    </style>
</head>
<body>
<h1>This is @name</h1>
<p>It is better than all the other TODO trackers</p>
<p>It frees you from needing to spend all your energy planning, instead you can spend time doing and retrospecting.
It also provides motivation that works for you by using the science of psychology and machine learning techniques
in order to proactively work with you to get you happily in the flow.</p>
</body>
</html>